<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <body>
    <p>Buen dia, {{ record.approved_by.name }}</p>
    <p>Se solicita aprobación de la orden de compra creada el <b> {{record.purchase_date }}<b>:</p>
    Número: <b>{{ record.number }}</b><br>
    Valor: <b>{{ record.total_amount }}</b><br>
    Descripción: <b>{{ record.description }}</b><br>
    </b><br>

    <p>-------------------------<br>
      {{ record.company and record.company.party.name }}<br>
    </p>
  </body>
</html>
